#b-author-banner {
	background: url(../../images/uld-back.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    position: relative;
    @media (max-width: $small) {
    	min-height: 580px;
    }
    @media (max-width: $xsmall) {
    	min-height: 230px;
    }

    .mask-content {
    	color: #fff;
    	position: absolute;
    	z-index: 1;
    	top: 0; bottom: 0;
    	left: 0; right: 0;
    	background: rgba(0,0,0,.42);
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: 110px;
    	letter-spacing: -.5px;
    	font-family: 'geometriabold';
    	line-height: normal;
    	@media (max-width: $large) {
    		font-size: 72px;
    	}
    	@media (max-width: $small) {
    		font-size: 0;
    	}

        .name {
            opacity: 0;
            transition: opacity .6s ease-in-out;

            &.show {
                opacity: 1;
            }
        }
    }
}

.author-page {

	#header {

		a[href="#nav"] {
			background-image: url(../../images/icon/burger-w.svg);
		}

		.sub-scroll-menu {

			.item {
				color: #fff;
			}
		}

		&.sticky {

			.sub-scroll-menu {

				.item {
					color: #b5b4b4;

					&.active {
						color: #000;
					}
				}
			}

			.lg-white {
			    background-image: url(../../images/icon/logo-b.svg);
			}

			a[href="#nav"] {
				background-image: url(../../images/icon/burger.svg);
			}
		}
	}
}