.download {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
	@media (max-width: $large) {
		margin-bottom: 80px;
	}
	@media (max-width: $xsmall) {
		margin-bottom: 120px;
	}

	.item {
		display: inline-block;
		transition: opacity .3s ease-in-out;

		.text {
			font-size: 25px;
			letter-spacing: -.3px;
			@media (max-width: $large) {
				font-size: 18px;
			}
			@media (max-width: $xsmall) {
				font-size: 14px;
			}

			.arr {
				display: inline-block;
				height: 20px;
				width: 25px;
				background: url(../../images/icon/arrow-b.svg) no-repeat center;
				background-size: contain;
				transform: rotate(90deg);
				@media (max-width: $large) {
					height: 15px;
					width: 20px;
				}
			}
		}

		.label {
			font-size: 47px;
			line-height: normal;
			@media (max-width: $large) {
				font-size: 34px;
			}
			@media (max-width: $xsmall) {
				font-size: 27px;
			}
		}

		& + .item {
			margin-top: 80px;
			@media (max-width: $large) {
				margin-top: 55px;
			}
			@media (max-width: $xsmall) {
				margin-top: 45px;
			}
		}

		&:hover {
			opacity: .7;
		}
	}
}