.third-grid {
	display: flex;
	flex-wrap: wrap;

	.news-snip {
		padding: 0;
		margin-right: 8%;
		width: 28%;
		@media (max-width: $small) {
			margin-right: 10%;
			width: 45%;
		}
		@media (max-width: $xsmall) {
			margin-right: 0;
			width: 100%;
		}

		&:nth-child(3n+3) {
			margin-right: 0;
			@media (max-width: $small) {
				margin-right: 10%;
			}
			@media (max-width: $xsmall) {
				margin-right: 0;
			}
		}

		&:nth-child(2n+2) {
			@media (max-width: $small) {
				margin-right: 0;
			}
			@media (max-width: $xsmall) {
				margin-right: 0;
			}
		}
	}
}

.thin-block {
	max-width: 1180px;

	.row {
		display: flex;
		justify-content: center;
		@media (max-width: $xsmall) {
			flex-wrap: wrap;
		}
	}
}

.booklet-page, .news-item-page,
.author-page, .project-page {

	#header {
		top: 0;

		&.sticky {

			.lg-black {
				display: block;
			}
		}

		a[href="#nav"] {
			background-image: url(../../images/icon/burger.svg);
		}
	}
}

#banner {

	.carousel-cell {
		background-repeat: no-repeat;
	}

	.sub-scroll-menu {
		position: absolute;
		z-index: 1;
		width: 100%;
		text-align: center;
		top: 25px;
		transition: opacity .3s ease-in-out;
		@media (max-width: $small) {
			opacity: 0;
			visibility: hidden;
		}

		.item {
			display: inline-block;
			font-size: 15px;

			& + .item {
				margin-left: 32px;
			}
		}
	}

	.carousel-booklet {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.static-banner-logo {
		    position: absolute;
		    z-index: 100;
		    left: 4em;
		    top: 25px;
		}

		.static-banner-menu {
		    position: absolute;
		    z-index: 100;
		    right: 4em;
		    top: 4em;
		}

		.banner-title {
			padding: 0;
			right: 30px;
			@media (max-width: $xsmall) {
				min-height: unset;
				padding-bottom: 60px;
			}

			h2 {
				color: #000;
				line-height: normal;
				margin-bottom: 0;
				font-size: 72px;
				@media (max-width: $large) {
					font-size: 44px;
				}
				@media (max-width: $xsmall) {
					font-size: 30px;
				}

				&.banner-subtitle {
					color: #b5b4b4;
					font-size: 44px;
					@media (max-width: $large) {
						font-size: 20px;
					}
					@media (max-width: $small) {
						font-size: 20px;
					}
					@media (max-width: $xsmall) {
						font-size: 15px;
					}
				}
			}

			&:before {
				display: none;
			}
		}

		.banner-center-title {
			display: inline-block;
			margin: auto;

			h2 {
				color: #000;
				font-size: 88px;
				text-align: center;
				letter-spacing: -.4px;
				margin-bottom: .25em;
				@media (max-width: $large) {
					font-size: 56px;
				}
				@media (max-width: $small) {
					font-size: 34px;
				}

				&.small-label {
					font-size: 45px;
					letter-spacing: -.6px;
					@media (max-width: $large) {
						font-size: 24px;
					}
					@media (max-width: $small) {
						font-size: 20px;
					}
					@media (max-width: $xsmall) {
						font-size: 15px;
					}
				}
			}
		}

		.carousel-cell {
			display: flex;
		}

		.lg, .lg-white, .lg-black {
			width: 40px;
			height: 40px;
			padding-top: 40px;
		}

		.mask-cursor-right {
			display: none;
		}

		.flickity-prev-next-button {
			background: none!important;

			&.previous {
				display: none;
			}

			&.next {
				width: 100%;
				cursor: url(../../images/icon/StrelkaWhiteRight.png), auto;

				svg {
					display: none;
				}
			}
		}
	}

	.carousel {

    & .flickity-prev-next-button.previous,
    & .flickity-prev-next-button.next {
        @media (max-width: $small) {
            display: none;
        }
    }
		.flickity-prev-next-button {
			background: none!important;

			&.previous {
				display: none;
			}

			&.next {
				width: 100%;
				cursor: url(../../images/icon/StrelkaWhiteRight.png), auto;

				svg {
					display: none;
				}

				&.black-inner-theme {
					cursor: url(../../images/icon/Strelka.png), auto;
				}

				&.white-inner-theme {
					cursor: url(../../images/icon/StrelkaWhiteRight.png), auto;
				}
			}
		}
	}

	.flickity-page-dots {

		.dot {
			border: 1px solid #000;
			width: 13px;
			height: 13px;

			&.is-selected {
				background: #000;
			}
		}
	}

	.mask-cursor-left {
		display: none;
	}

	.mask-cursor-right {
		left: 0;
    cursor: url(../../images/icon/StrelkaWhiteRight.png), auto;

	}
}

.home-page {

	#banner {

		h2 {
			@media(max-width: 1920px) {
				font-size: 54px;
			}
		}

		.flickity-page-dots {
		    cursor: auto;
		    height: 6em;
		    line-height: 6em;
		    display: inline-block;
		    width: auto;
		    bottom: 0;
		    padding: 0 2em;
		    margin-left: -80px;

			.dot {
				border: 1px solid #fff;
				width: 13px;
				height: 13px;
				transition: all .3s ease-in-out;

				&.is-selected {
					background: #fff;
				}
			}

			&.white-inner-theme {

				.dot {
					border: 1px solid #fff;
					width: 13px;
					height: 13px;

					&.is-selected {
						background: #fff;
					}
				}
			}

			&.black-inner-theme {

				.dot {
					border: 1px solid #000;
					width: 13px;
					height: 13px;

                    &:hover {
                        background: #000;
                    }

					&.is-selected {
						background: #000;
					}
				}
			}
		}

		.lg-white {
			background-size: 100%;
		}
	}

	.an-notify {
		position: fixed;
		height: 53px;
		overflow: hidden;
		top: 0;
		text-align: center;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;

		&.visible {
			transition: all .1s ease-in-out;
			opacity: 1;
			visibility: visible;
		}

		.an-notify-close {
			right: 15px;
			height: 53px;
			@media (max-width: $xsmall) {
				right: 0;
			}
		}
	}
}

#header {
	height: 70px;
	line-height: 70px;

	a[href="#nav"] {
		right: 30px;
		top: 0;
		height: 70px;
		@media (max-width: $small) {
			right: 20px;
		}
	}

	.sub-scroll-menu {
		display: block;
		width: 100%;
		text-align: center;
		transition: opacity .3s ease-in-out;
		@media (max-width: $small) {
			opacity: 0;
			visibility: hidden;
		}

		.item {
			display: inline-block;
			font-size: 15px;

			& + .item {
				margin-right: 32px;
			}

			&:last-child {
				margin-right: 0;
			}

			a:active {
				color: #b5b4b4;
			}

			&.active {
				color: #000;
			}
		}
	}

	&.sticky {

		.sub-scroll-menu {

			.item {
				color: #b5b4b4;

				&.active {
					color: #000;
				}
			}
		}

		a[href="#nav"] {
			background-position: center right;
		}
	}

	.lg, .lg-white, .lg-black {
		width: 40px;
		height: 40px;
		padding-top: 40px;
		background-size: 100%;
		top: 15px;
		left: 30px;
		@media (max-width: $small) {
			opacity: 1;
			left: 20px;
		}
	}
}

h2.block-title {
	@media (max-width: $xsmall) {
		font-size: 3em;
	}
}

#header {
	transition: background .3s ease-in-out;
}

.an-backtotop {
	right: 30px;
	@media (max-width: $small) {
		right: 20px;
	}
}

#footer {
	padding-left: 30px;
	padding-right: 30px;
	@media (max-width: $small) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#nav {
	padding: 6em 30px 2em;
	@media (max-width: $small) {
		padding: 6em 20px 2em;
	}

	&.visible {
		overflow-x: hidden;
	}

	.close {
		right: 0;
		@media (max-width: $small) {
			right: -10px;
		}
	}

	.lg, .lg-white, .lg-black {
		top: 15px;
		left: 30px;
		@media (max-width: $small) {
			left: 20px;
		}
	}

	.nav-footer {
		height: 40px;
		margin-top: -40px;
		bottom: 0;

		a {
			margin-bottom: 0;
		}
	}

	.nav-content {
		padding-bottom: 10px;
		min-height: 99%;

		ul.links {

			li {
				text-transform: uppercase;
			}
		}
	}
}

.booklet-page, .author-page, .project-page {

	#header {

		.lg, .lg-white,
		.lg-black, #header-nav {
			// transform: scale(1);
			opacity: 1;
			transition: opacity .6s ease-in;
			@media (max-width: $xsmall) {
				transition: none;
			}
		}

		&.sticky {

			.lg, .lg-white, .lg-black,
			#header-nav {
				@media (max-width: $small) {
					// transform: scale(0);
					opacity: 1;
				}
				@media (max-width: $xsmall) {
					opacity: 0;
				}
			}

			.sub-scroll-menu {
				@media (max-width: $small) {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.news {

	.image {
		margin-bottom: 1em;

		&.fit {
			margin-bottom: 1em;
		}

		&:after {
			background: rgb(229, 48, 48);
		}
	}

	.news-snip-content {
		@media (max-width: $xsmall) {
			padding: 0 2em;
		}

		a:hover {
			color: rgb(229, 48, 48);
		}

		.news-snip-tags {
			font-family: "geometriabold";
			padding-top: 0;

			li {
				color: #d6d6d6;

			    a {

			    	&:hover {
			    		color: #d6d6d6;
			    	}
			    }
			}
		}
	}

	.news-snip {

		.news-snip-content {
			@media (max-width: $small) {
				padding: 0 20px;
			}
		}

		.news-snip-tags {
			padding-top: 0;

			li {
				text-decoration: none;
			    color: #d6d6d6;
			    font-size: 9pt;
			    font-family: "geometriabold";
			}
		}
	}
}

body.is-loading {

	.an-loader {

		.an-loader-img {
			animation: spin 4s linear infinite!important;
		}
	}
}

// Костыль
.one-slide {

	.flickity-prev-next-button, .mask-cursor-right {
		display: none;
	}

	.flickity-slider {
		position: static;
		transform: none!important;
	}

	.flickity-page-dots {
		display: none;
	}
}

//Ещё костыль
.one-slick-slide {
	margin-bottom: 50px;

	.slick-dots {
		display: none;
	}

	.slick-slide {
		cursor: auto!important;
	}
}

.zero-slick-slide {
	display: none;
}

/* Тема белая */
body.all-white-theme {

	#header {

		a[href="#nav"] {
			background-image: url(../../images/icon/burger-w.svg);
		}

		#an-backtotop {
			background-image: url(../../images/icon/logo-w.svg);
		}

		.sub-scroll-menu {

			.item {
				color: #fff;
			}
		}

		&.sticky {

			a[href="#nav"] {
				background-image: url(../../images/icon/burger.svg);
			}

			#an-backtotop {
				background-image: url(../../images/icon/logo-b.svg);
			}

			.sub-scroll-menu {

				.item {
					color: #b4b4b4;
				}
			}
		}
	}

	#banner {

		.carousel-cell {

			* {
				color: #fff;
			}
		}
	}

	#b-banner {

		* {
			color: #fff;
		}
	}
}

// Тема чёрная
body.all-black-theme {

	#header {

		a[href="#nav"] {
			background-image: url(../../images/icon/burger.svg);
		}

		#an-backtotop {
			background-image: url(../../images/icon/logo-b.svg);
		}

		.sub-scroll-menu {

			.item {
				color: #000;
			}
		}

		&.sticky {

			.sub-scroll-menu {

				.item {
					color: #b4b4b4;
				}
			}
		}
	}

	#banner {

		.carousel-cell {

			* {
				color: #000;
			}
		}
	}

	#b-banner {

		* {
			color: #000!important;
		}
	}
}

body {

	strong, b {
		font-family: "geometriabold";
		font-weight: normal;
	}

	&.second-screen {

		#header {

			.sub-scroll-menu {
				opacity: 0;
                display: none;
				transition: none;

				.item {
					color: #b5b4b4;
				}
			}

			&.fade-fast {
				animation: fade .5s;

                & .sub-scroll-menu {
                    display: none;
                }
			}

			&.sticky {

				.sub-scroll-menu {
					opacity: 0;
                    display: none;
					transition: opacity .5s ease-in-out;
				}
			}

			&.banner-bottom {
				top: 100vh;

				.sub-scroll-menu {
					opacity: 1;
                    display: block;
					transition: opacity .5s ease-in-out;
					visibility: visible;

					.item {
						color: #b4b4b4;

						&.active {
							color: #000;
						}
					}
				}

                & .lg-black {
                    @media (max-width: $xsmall) {
                        display: none;
                    }
                }

				#an-backtotop, #header-nav {
					animation: fade .5s;
					display: none;
					@media (max-width: $xsmall) {
						display: none;
					}
				}

				#an-backtotop {
					background-image: url(../../images/icon/logo-b.svg);
				}

				#header-nav {
					background-image: url(../../images/icon/burger.svg);
				}

				&.sticky {

					#an-backtotop, #header-nav {
						display: inline-block;
						@media (max-width: $xsmall) {
							display: none;
						}
					}
				}
			}
		}
	}

	&.author-page.second-screen {

		#header {

			&.banner-bottom {
				@media (max-width: $small) {
			    	top: 750px;
			    }
			    @media (max-width: $xsmall) {
			    	top: 320px;
			    }
			}
		}
	}

	&.project-page.second-screen {

		#header {

			&.banner-bottom {
				@media (max-width: $small) {
			    	top: 770px;
			    }
			    @media (max-width: $xsmall) {
			    	top: 385px;
			    }
			}
		}
	}
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.isotope-grid {
	margin-left: 0;

	.item {
		padding: 0 2em;
		padding-bottom: 100px;
		@media (max-width: $large) {
			padding-bottom: 100px;
		}
		@media (max-width: $small) {
			padding-bottom: 40px;
		}
		@media (max-width: $xsmall) {
			padding-left: 0;
			padding-right: 0;
		}

		.news-snip-last {
			left: -35px;
			z-index: 1;
		}
	}
}

.booklet-page {

	.news + hr.trans {
		margin-bottom: 0;
	}
}

.artists-list {
	columns: 3;
	@media (max-width: $small) {
		columns: 2;
	}
	@media (max-width: $xsmall) {
		columns: 1;
	}
}

.artists-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

	#main{
		min-height: unset;
	}
}

.news-tags {
	margin-top: 2em;
	@media (max-width: $large) {
		margin-top: 10px;
		margin-bottom: 50px;
	}
	@media (max-width: $small) {
		margin-top: 5px;
		margin-bottom: 50px;
	}
}

.news-page {

	#header {

		& > a[href="#nav"] {
			background-image: url(../../images/icon/burger.svg);
		}
	}

	.news-more {
		clear: both;
	}
}

.exhibitions-page {

	#main {

		&.top-container {
			padding-top: 200px;
			@media (max-width: $large) {
				padding-top: 110px;
			}
			@media (max-width: $small) {
				padding-top: 195px;
			}
			@media (max-width: $xsmall) {
				padding-top: 125px;
			}
		}
	}

	#header {
		top: 0;

		& > a[href="#nav"] {
			background-image: url(../../images/icon/burger.svg);
		}

		.sub-scroll-menu {
			opacity: 0;
			transition: opacity .3s ease-in-out;

			&.visible {
				opacity: 1;
			}
		}
	}
}

#main {

	&.no-top {
		padding-top: 0;
	}
}

.partners {
	@media (max-width: $xsmall) {
		padding: 0 20px;
	}

	ul {
	    align-items: center;
	    display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	}
}

.home-page {

	#header {

		#an-backtotop {
			@media (max-width: $small) {
				opacity: 0;
			}
		}

		& > a[href="#nav"] {
			transition: background-image .3s ease-in-out;
		}

		&.white-inner-theme {

			& > a[href="#nav"] {
				background-image: url(../../images/icon/burger-w.svg);
			}
		}

		&.black-inner-theme {

			& > a[href="#nav"] {
				background-image: url(../../images/icon/burger.svg);
			}
		}

		&.sticky {

			#an-backtotop {
				opacity: 1;
			}

			& > a[href="#nav"] {
				background-image: url(../../images/icon/burger.svg);
			}
		}
	}

	#banner {

		.carousel {

			.static-banner-logo {
				left: 30px;
				top: 30px;
				@media (max-width: $small) {
					left: 20px;
					top: 20px;
				}
			}

			.static-banner-menu {
				right: 30px;
				top: 30px;
				font-family: "geometriamedium";
				@media (max-width: $small) {
					right: 20px;
					top: 20px;
				}
			}
		}

		.banner-title {
			right: 30px;
			padding: 2em 0 0;
			@media (max-width: $small) {
				right: 20px;
				bottom: 30px;
			}

			&:before {
				right: 0;
			}

			h2 {
				@media (max-width: $xsmall) {
					font-size: 34px;
				}
			}
		}
	}
}

.static-banner-logo {

	&.white-inner-theme {

		.lg-white {
			background-image: url(../../images/icon/logo-w.svg);

			#lg-desc {

				* {
					color: #fff!important;
					transition: all .3s ease-in-out;
				}

				.info {
					background-image: url(../../images/icon/i-w-2.svg)!important;
				}
			}
		}
	}

	&.black-inner-theme {

		.lg-white {
			background-image: url(../../images/icon/logo-b.svg);

			#lg-desc {

				* {
					color: #000!important;
					transition: all .3s ease-in-out;
				}

				.info {
					background-image: url(../../images/icon/i-b-2.svg)!important;
				}
			}
		}
	}
}

.static-banner-menu {

	&.white-inner-theme {

		.banner-menu {

			li {

				&#lang {

					a {
						background-image: url(../../images/icon/ru-w-1.svg)!important;
					}
				}

				a {
					color: #fff!important;
					transition: all .3s ease-in-out;
				}
			}
		}
	}

	&.black-inner-theme {

		.banner-menu {

			li {

				&#lang {

					a {
						background-image: url(../../images/icon/ru-b-1.svg)!important;
					}
				}

				a {
					color: #000!important;;
					transition: all .3s ease-in-out;
				}
			}
		}
	}
}


#banner {

	.carousel-cell {

		&.white-inner-theme {

			h2 {
				color: #fff;			}

			.banner-title:before {
				background: #fff;
			}
		}

		&.black-inner-theme {

			h2 {
				color: #000;
			}

			.banner-title:before {
				background: #000;
			}
		}
	}
}

.manifest {

	.image {

		&.first-child {
			left: 0;
			width: 100%;
			text-align: center;
			margin-left: 0;
		}

		img {
			max-width: 100%;
		}
	}
}

// .project-page {

// 	#header {
// 		top: 770px;
// 	}
// }

.container {
	width: 80em;
	@media (max-width: $large) {
		width: 80em;
	}
	@media (max-width: $small) {
		width: 100%;
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	@media (max-width: $xsmall) {
		width: 100%!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
}

#banner {

	.banner-menu {
		@media (max-width: $small) {
			display: none;
		}
	}
}

#header {
	@media (max-width: $small) {
		top: 0;
	}
}

.about-page {

	#main {
		padding-top: 0;
	}

	#header {
		top: 0;

		& > a[href="#nav"] {
			background-image: url(../../images/icon/burger.svg);
		}
	}
}