.b-future-expo {
	padding-bottom: 110px;
	border-bottom: 1px solid #000;
	margin: 0;
	min-height: fit-content;
    padding-top: 135px;
	@media (max-width: $large) {
        padding-top: 85px;
		padding-bottom: 70px;
	}
	@media (max-width: $small) {
        padding-top: 80px;
		padding-bottom: 90px;
	}
	@media (max-width: $xsmall) {
		padding-bottom: 50px;
	}

	.news-snip {
		padding-right: 0;
		padding-left: 0;
	}

	.news-snip-content {

		.name {
			text-transform: uppercase;
		}
	}
}