.b-main-modal {
    top: 0; bottom: 0;
    left: 0; right: 0;
    position: absolute;
    margin: 0;
    padding: 0;

    .main-modal-inner {
        display: flex!important;
        align-items: center;
        justify-content: center;
        top: 0; bottom: 0;
        left: 0; right: 0;
        position: absolute;
        padding: 24px 92px;
        transition: opacity .3s ease-in-out;
        @media (max-width: 1440px) {
            position: static;
            padding: 24px 92px;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
        }
        @media (max-width: $small) {
            padding: 0 40px;
        }
        @media (max-width: $xsmall) {
            padding: 0;
        }

        .control-btn {
            position: absolute;
            top: 0; bottom: 0;
            cursor: pointer;
            width: 92px;
            display: flex;
            align-items: center;
            outline: 0 none;
            @media (max-width: $small) {
                // width: 40px;
                display: none;
            }
            @media (max-width: $xsmall) {
                display: none;
            }

            &:hover {
                opacity: .6;
            }

            &.prev {
                left: 0;
                padding-left: 30px;
                @media (max-width: $small) {
                    padding-left: 10px;
                }

                img {
                    transform: rotate(-90deg);
                    @media (min-width: $small) {
                        margin-left: 25px;
                    }
                }
            }

            &.next {
                right: 0;
                padding-right: 30px;
                @media (max-width: $small) {
                    padding-right: 10px;
                }

                img {
                    transform: rotate(90deg);
                    @media (min-width: $small) {
                        margin-left: 20px;
                    }
                }
            }

            img {
                max-width: 100%;
                @media (min-width: $small) {
                    width: 40px;
                }
            }
        }

        .content {
            max-width: calc(100% - 672px);
            position: relative;
            opacity: 1;
            transition: opacity .3s ease-in-out;
            @media (max-width: 1440px) {
                max-width: calc(100% - 336px);
            }
            @media (max-width: $small) {
                max-width: 100%;
                position: relative;
                padding-bottom: 150px;
                width: 100%;
            }
            @media (min-width: $small) {
              display: flex;
              flex-direction: row;
              justify-content: center;
              max-width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              align-items: center;
            }
            @media (max-width: $xsmall) {
                max-width: 100%;
                
                //
                padding-bottom: 0;
                max-height: calc(100vh - 156px);
                width: 100%;
            }

            &.now-hidden {
                opacity: 0;
            }

            img {
                // width: 100%;
                // height: 100%;
                max-width: 100%;
                max-height: 95vh;
                @media (max-width: $small) {
                    margin: 0 auto;
                    display: block;
                    max-height: calc(100vh - 156px)
                }
                @media (max-width: $xsmall) {
                    width: 100%;

                    //
                    width: auto;
                    max-height: calc(100vh - 156px);
                }
                @media (min-width: $small) {
                    order: 2;
                }
            }

            .project-description {
                position: absolute;
                bottom: 0;
                left: -336px;
                max-width: 300px;
                @media (max-width: $small) {
                    position: static;
                    max-width: 100%;
                    position: absolute;
                    left: 0;
                    width: 100%;
                }
                @media (min-width: $small) {
                  order: 1;
                  align-self: flex-end;
                  padding-right: 50px;
                  display: block;
                  min-width: 300px;
                  position: relative;
                  top: auto;
                  left: 0;
                }
                @media (max-width: $xsmall) {
                    padding: 0 20px;

                    //
                    bottom: unset;
                    top: calc(100% + 10px);
                }

                .title {
                    font-family: "geometriabold";
                    font-size: 14px;
                    line-height: 17px;
                    color: #12110b;
                    margin-bottom: 5px;
                    @media (max-width: $xsmall) {
                        padding-right: 30px;
                        position: relative;
                        cursor: pointer;
                    }

                    &:after {
                        @media (max-width: $xsmall) {
                            content: '';
                            width: 20px;
                            height: 20px;
                            background: url(../../images/project/plus.svg) no-repeat center;
                            background-size: 100% auto;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -10px;
                        }
                    }

                    &.open {

                        &:after {
                            @media (max-width: $xsmall) {
                                background: url(../../images/project/minus.svg) no-repeat center;
                            }
                        }
                    }
                }

                .author, .info, .project-name {
                    font-size: 14px;
                    line-height: 17px;
                    color: #12110b;
                    margin-bottom: 12px;
                }

                .project-name {
                    margin-bottom: 20px;

                    a {
                        color: #12110b;
                    }
                }

                .project-social {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        padding: 0;

                        & + li {
                            padding-left: 1.25em;
                        }

                        a {
                            width: 27px;
                            height: 27px;
                            display: inline-block;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }
                    }

                    .telegram {
                        a {background-image: url(../../images/icon/t-b-1.svg);
                            &:hover {background-image: url(../../images/icon/t-b-2.svg);}
                        }
                    }

                    .insta {
                        a {background-image: url(../../images/icon/in-b-1.svg);
                            &:hover {background-image: url(../../images/icon/in-b-2.svg);}
                        }
                    }

                    .vk {
                        a {background-image: url(../../images/icon/vk-b-1.svg);
                            &:hover {background-image: url(../../images/icon/vk-b-2.svg);}
                        }
                    }

                    .fb {
                        a {background-image: url(../../images/icon/f-b-1.svg);
                            &:hover {background-image: url(../../images/icon/f-b-2.svg);}
                        }
                    }
                }

                .expand {
                    @media (max-width: $xsmall) {
                        padding-top: 6px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .6s ease-in;
                    }
                }
                .expand.open {
                    @media (max-width: $xsmall) {
                        max-height: 350px;
                    }
                }
            }
        }
    }

    .fancybox-close-small {
        box-sizing: content-box;
        padding: 20px;
        width: 28px;
        height: 28px;
        outline: 0 none;
        background: url(../../images/project/x.svg) no-repeat;
        background-size: 100%;
        top: 10px;
        right: 14px;
        position: absolute;
        cursor: pointer;
        box-shadow: none;
        z-index: 999;
        background-size: 28px 28px;
        background-position: center center;
        @media (max-width: $small) {
            width: 18px;
            height: 18px;
            top: 20px;
            right: 20px;
            background-size: 18px 18px;
        }
        @media (max-width: $xsmall) {
            width: 18px;
            height: 18px;
            top: 0px;
            right: 0px;
            background-size: 18px 18px;
        }

        &:after {
            display: none;
        }
    }

    // .close-modal {
    //     width: 28px;
    //     height: 28px;
    //     outline: 0 none;
    //     background: url(../../images/project/x.svg) no-repeat;
    //     background-size: 100%;
    //     top: 30px;
    //     right: 57px;
    //     position: absolute;
    //     cursor: pointer;
    //     @media (max-width: $xsmall) {
    //         width: 18px;
    //         height: 18px;
    //         top: 20px;
    //         right: 20px;
    //     }
    // }

    // &.first {

    //     .main-modal-inner {

    //         .control-btn {

    //             &.prev {
    //                 display: none;
    //             }
    //         }
    //     }
    // }

    // &.last {

    //     .main-modal-inner {

    //         .control-btn {

    //             &.next {
    //                 display: none;
    //             }
    //         }
    //     }
    // }

    &.last-slide {

        .main-modal-inner {
            @media (max-width: $small) {
                padding: 0;
            }

            .content {
                width: 100%;
                align-items: flex-end;
                @media (max-width: $small) {
                    padding: 0;
                    display: flex;
                    max-height: calc(100vh - 112px);
                }
                @media (max-width: $xsmall) {
                    justify-content: flex-end;
                }

                & > img {
                    order: 0;
                    max-width: 70%;
                    @media (max-width: $small) {
                        max-width: 51%;
                        max-height: calc(100vh - 116px);
                        margin: 0;
                    }
                    @media (max-width: $xsmall) {
                        max-width: unset;
                        height: 100%;
                        margin-left: -169%;
                    }
                }

                .last-info {
                    width: 26%;
                    padding-left: 120px;
                    padding-bottom: 250px;

                    @media (max-width: $large) {
                        padding-bottom: 70px;
                        padding-left: 40px;
                    }
                    @media (max-width: $small) {
                        padding: 0 0 40px 40px;
                        width: 49%;
                    }
                    @media (max-width: $xsmall) {
                        width: 69%;
                        padding: 0 0 24px 28px;
                    }

                    .goto {
                        text-transform: uppercase;
                        font-family: 'geometriabold';
                        font-size: 20px;
                        line-height: normal;
                        margin-bottom: 40px;
                        @media (max-width: $large) {
                            font-size: 18px;
                            margin-bottom: 30px;
                        }
                        @media (max-width: $small) {
                            margin-bottom: 15px;
                        }
                        @media (max-width: $xsmall) {
                            margin-bottom: 10px;
                            font-size: 12px;
                        }

                        a {
                            color: #000;
                            text-decoration: none;

                            img {
                                display: inline-block;
                                width: 18px;
                                @media (max-width: $large) {
                                    width: 16px;
                                }
                                @media (max-width: $xsmall) {
                                    width: 12px;
                                }
                            }
                        }
                    }

                    .title {
                        font-family: 'geometriabold';
                        font-size: 50px;
                        line-height: 60px;
                        margin-bottom: 20px;
                        @media (max-width: $large) {
                            font-size: 34px;
                            line-height: 40px;
                        }
                        @media (max-width: $small) {
                            margin-bottom: 10px;
                            line-height: normal;
                        }
                        @media (max-width: $xsmall) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }

                    .date {
                        font-size: 20px;
                        font-family: 'geometriabold';
                        line-height: 16px;
                        @media (max-width: $large) {
                            font-size: 14px;
                        }
                        @media (max-width: $xsmall) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.fancybox-is-open {

    .b-main-modal {
        display: flex!important;
        align-items: center;
    }
}
