.mustread {
	margin-bottom: 140px;
	min-height: fit-content;
	// height: 340px;
	@media (max-width: $xsmall) {
		margin-bottom: 75px;
		// height: 415px;
	}

	.block-title {
		margin-bottom: .5em;
	}

	.holder {
		// height: 340px;
		position: relative;
		overflow: hidden;
		min-height: fit-content;
		@media (max-width: $xsmall) {
			// height: 415px;
		}

		.slick-arrow {
			border: none;
			cursor: pointer;
			padding: 0;
			opacity: 1;
			transition: opacity .3s ease-in-out;
			width: 33px;
			height: 35px;
			position: absolute;
			top: 90px;
			outline: 0 none;
			z-index: 9;
			background: none;
			@media (max-width: $large) {
				top: 75px;
			}
			@media (max-width: $small) {
				top: 70px;
			}
			@media (max-width: $xsmall) {
				display: none!important;
			}

			&:hover {
				border: none;
				box-shadow: none;
				opacity: .6;
			}

			.arr {
				display: inline-block;
				width: 33px;
				height: 35px;

				&.lft {
					background: url(../../images/icon/arrow-l-b.svg) no-repeat center;
				}

				&.rgt {
					background: url(../../images/icon/arrow-r-b.svg) no-repeat center;
				}
			}

			&.slick-prev {
				left: 0;
				@media (max-width: $xsmall) {
					left: 20px;
				}
			}

			&.slick-next {
				right: 0;
				@media (max-width: $xsmall) {
					right: 20px;
				}
			}
		}

		.slick-list {
			overflow: hidden;
			padding: 0!important;
			margin: 0 50px;
			@media (max-width: $xsmall) {
				margin: 0;
			}
		}

		.item {
			display: inline-block;
			line-height: normal;
			margin: 0 35px;
			outline: 0 none;
			@media (max-width: $large) {
				margin: 0 15px;
			}
			@media (max-width: $small) {
				text-align: center;
				margin: 0 20px;
			}
			@media (max-width: $xsmall) {
				margin: 0;
			}

			.image {
				margin-bottom: 19px;
			}

			.issue {
				font-size: 14px;
				font-family: 'geometriabold';
			}

			.name {
				font-size: 30px;
				margin-bottom: 0;
				white-space: nowrap;
				@media (max-width: $large) {
					font-size: 24px;
				}
			}

			* {
				outline: 0 none;
			}
		}
	}
}