.news-item {

	.main-top {

		.top-holder {
			margin: 0 auto 35px;
			float: none;
			@media (max-width: $xsmall) {
				padding: 0 30px;
			}

			.hash-tags {
				margin-bottom: 10px;
				@media (max-width: $small) {
					margin-bottom: 15px;
				}

				a {
					text-transform: uppercase;
					color: #d6d6d6;
				    font-size: 14px;
				    font-family: "geometriabold";
				    text-decoration: none;
				    letter-spacing: .4px;
				    @media (max-width: $large) {
				    	font-size: 12px;
				    }

				    & + a {
				    	margin-left: 30px;
				    }
				}
			}

			.title {
				font-size: 40px;
				line-height: 1.2;
				margin-bottom: 30px;
				font-family: "geometriabold";
				@media (max-width: $large) {
					font-size: 30px;
					margin-bottom: 25px;
				}
				@media (max-width: $small) {
					line-height: 1;
					margin-bottom: 35px;
				}
				@media (max-width: $xsmall) {
					font-size: 20px;
				}
			}

			.date {
				color: #d6d6d6;
				letter-spacing: .1px;
				font-size: 12px;
				font-family: "geometriabold";
			}
		}
	}

	#banner {
		height: 730px;
		margin-bottom: 50px;
		min-height: unset;
		@media (max-width: $large) {
			height: 440px;
		}
		@media (max-width: $small) {
			height: 300px;
			margin-bottom: 30px;
		}
		@media (max-width: $xsmall) {
			height: 250px;
			margin-bottom: 30px;
		}

		.mask-cursor-left,
		.mask-cursor-right {
			bottom: 60px;
		}

		.news-item-carousel {
			height: 730px;
			@media (max-width: $large) {
				height: 440px;
			}
			@media (max-width: $small) {
				height: 300px;
			}
			@media (max-width: $xsmall) {
				height: 250px;
			}

			.carousel-cell {
				padding-bottom: 60px;
				background-size: contain;

				.text {
					position: absolute;
					bottom: 0;
					height: 60px;
					padding-top: 15px;
					z-index: 1;
					background: #fff;
					width: 100%;
					text-align: left;
					font-size: 12px;
					line-height: 1.42;
					@media (max-width: $large) {
						padding: 15px 30px 0;
					}
					@media (max-width: $large) {
						padding: 15px 20px 0;
					}

					.author {
						color: #000;
						text-decoration: underline;
					}
				}
			}

			.flickity-page-dots {
				bottom: -5px;
			}
		}
	}

	.main-text {
		font-size: 14px;

		.holder {
			float: none;
			margin: 0 auto;
			line-height: 1.2;
			@media (max-width: $xsmall) {
				padding: 0 30px;
			}

			& > p:first-child:first-letter {
				font-size: 21px;
				font-family: "geometriabold";
			}

			.semi-title {
				margin-bottom: 1em;
				font-size: 24px;
				font-family: "geometriabold";
			}

			ul {

				&.no-dots {
					list-style: none;
					padding-left: 0;
					margin-left: 0;
				}

				li {
					padding: 0;
				}
			}
		}
	}

	.author-gallery {
		display: flex;
		margin-bottom: 40px;
		@media (max-width: $small) {
			flex-direction: column;
			align-items: center;
		}

		.item {

			.img {

				img {
					max-width: 100%;
				}
			}

			.text-snip {
				font-size: 12px;
  				line-height: 1.42;
  				padding: 12px 0 0;
  				@media (max-width: $large) {
  					padding: 12px 30px 0;
  				}
  				@media (max-width: $small) {
  					padding: 12px 20px 0;
  				}

  				.author {
  					color: #000;
  				}
			}

			& + .item {
				margin-left: 40px;
				@media (max-width: $small) {
					margin-left: 0;
					margin-top: 30px;
				}
			}
		}
	}

	.share {
		width: 100%;
		clear: both;
		margin-top: 55px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		.label {
			font-family: 'geometriabold';
			color: #000;
			text-transform: uppercase;
			font-size: 20px;
		}

		.social {
			display: flex;
			margin: 0 0 0 25px;
			padding: 0;
			list-style: none;

			.item {
				padding: 0;
				height: 21px;

				.link {
					display: inline-block;
					width: 21px;
					height: 21px;
					background-size: cover;
					background-repeat: no-repeat;

					&.vk {
						background-image: url(../../images/icon/vk-b-1.svg);
					}

					&.fb {
						background-image: url(../../images/icon/f-b-1.svg);
					}

					&.tg {
						background-image: url(../../images/icon/t-b-1.svg);
					}
				}

				& + .item {
					margin-left: 20px;
				}
			}
		}
	}

	.news {
		margin-top: 180px;
		padding: 0 30px;
		@media (max-width: $large) {
			margin-top: 140px;
		}
		@media (max-width: $small) {
			margin-top: 120px;
			padding: 0 20px;
		}
		@media (max-width: $xsmall) {
			margin-top: 100px;
			padding: 0;
		}

		.button-holder {
			margin-top: 70px;
			clear: both;
			text-align: center;
			width: 100%;

			.link {
				font-family: "geometriabold";
				text-decoration: none;
				text-transform: uppercase;
				color: #000;
				font-size: 26px;
			}
		}

		.news-snip:nth-child(3) {
			@media (max-width: $small) {
				display: none;
			}
		}
	}
}