.news {
    & .news-snip-last {
        @media (max-width: $xsmall) {
            transform: none;
            position: relative;
            top: 0;
            left: 20px !important;
            height: auto;
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}

.news-page h1 {
    @media (max-width: $xsmall) {
        padding-left: 14px;
    }
}

@media (max-width: $xsmall) {
    .news-tags {
        text-align: left;

        & li:first-child {
            padding-left: 20px;
        }

        & li {
            display: inline-block;
            padding: 0 20px;
        }
    }
}