.b-project-about {
    padding: 170px 0 90px;
    @media (max-width: $small) {
        padding: 120px 0 140px;
    }
    @media (max-width: $xsmall) {
        padding: 70px 20px 90px;
    }

    .title {
        text-align: center;
        font-family: 'geometriabold';
        margin-bottom: 90px;
        font-size: 50px;
        @media (max-width: $large) {
            font-size: 34px;
            line-height: normal;
            margin-bottom: 75px;
        }
        @media (max-width: $small) {
            margin-bottom: 40px;
        }
        @media (max-width: $xsmall) {
            font-size: 15px;
            margin-bottom: 30px;
        }
    }

    .columns {
        column-count: 3;
        font-size: 14px;
        line-height: 17px;
        @media (max-width: $small) {
            column-count: 2;
        }
        @media (max-width: $xsmall) {
            column-count: 1;
        }

        .button {
            margin: 15px auto 0;
            display: none;
            width: 130px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            padding: 0;
            @media (max-width: $xsmall) {
                display: block;
            }
        }

        .expander {
            @media (max-width: $xsmall) {
                max-height: 0;
                overflow: hidden;
                transition: max-height .3s ease-in-out;
            }

            &.active {
                @media (max-width: $xsmall) {
                    max-height: 2000px;
                }
            } 
        }
    }
}