.b-projects {

    .project-item {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
        height: 337px;
        @media (max-width: $small) {
            height: 400px;
        }

        .type {
            color: #a7a7a7;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 16px;
            font-family: 'geometriabold';
            @media (max-width: $small) {
                margin-bottom: 5px;
                font-size: 12px;
            }
        }

        & .title a,
        & .date a {
          color: #12110e;
          text-decoration: none;
        }

        & .title a.active,
        & .date a.active {
          opacity: 0.7;
        }

        .mobile-headline {
            display: none;

            @media (max-width: $small) {
                display: block;
                margin-bottom: 15px;
                font-family: 'geometriabold';
                padding-left: 20px;
            }

            .title {
                margin-bottom: 5px;
                @media (max-width: $small) {
                    font-size: 34px;
                }
                @media (max-width: $xsmall) {
                    font-size: 20px;
                }
            }

            .name {
                text-transform: uppercase;
                font-family: 'geometriabold';
                font-size: 30px;
                line-height: 36px;
                @media (max-width: $large) {
                    font-size: 20px;
                    line-height: 24px;
                }

                a {
                    color: #000;
                }
            }
        }

        & .owl-stage-outer {
            @media (max-width: $xlarge) {
                padding-left: calc((100% - 80em)/2);
            }
            @media (max-width: $large) {
                padding-left: calc((100% - 70em)/2);
            }
            @media (min-width: 769px) and(max-width: $medium) {
                padding-left: calc((100% - 90%)/2);
            }
            & .owl-item:first-child {
                @media (max-width: $small) {
                    margin-right: 0 !important;
                }
            }

        }

        & + .project-item {
            margin-top: 110px;
            @media (max-width: $large) {
                margin-top: 65px;
            }
            @media (max-width: $small) {
                margin-top: 55px;
            }
            @media (max-width: $xsmall) {
                margin-top: 30px;
            }
        }

        a.item {
            &:first-child {
                @media (max-width: $xsmall) {
                    left: 20px !important;
                }
            }
        }

        .item {
            line-height: normal;

            img {
                cursor: pointer;
                transition: opacity .3s ease-in-out;

                &:hover {
                    opacity: .8;
                }
            }

            &.headline {
                width: 540px;
                box-sizing: content-box;
                @media (max-width: $large) {
                    width: 390px;
                }
                @media (max-width: $small) {
                    width: 20px;
                    padding: 0!important;
                    opacity: 0;
                }

                .title {
                    font-size: 50px;
                    font-family: 'geometriabold';
                    margin-bottom: 15px;
                    @media (max-width: $large) {
                        font-size: 34px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: $small) {
                        font-size: 20px;
                    }
                }

                .date {
                    font-size: 14px;
                    font-family: 'geometriabold';
                    @media (max-width: $xsmall) {
                        font-size: 12px;
                    }
                }
            }

            .name {
                font-family: 'geometriabold';
                font-size: 30px;
                line-height: 36px;
                @media (max-width: $large) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .project-date {
                font-size: 14px;
                color: #d8d8d8;
            }

            &.goto {
                text-transform: uppercase;
                font-family: 'geometriabold';
                font-size: 24px;
                padding-top: 110px;
                padding-left: 40px;
                padding-right: 40px;
                margin-right: -5px !important;

                a {
                    color: #000;
                    text-decoration: none;

                    img {
                        display: inline-block;
                        width: 18px;
                    }
                }
            }

            &.last {
                width: calc((100% - 80em) / 2 + 2em);
                margin-left: 0;
                @media (max-width: $small) {
                    width: calc(20px + 2em);
                }
                @media (max-width: $xsmall) {
                    width: 20px;
                }
            }
        }
    }
}

.project-page {

    .b-projects {
        margin-bottom: 120px;
        @media (max-width: $small) {
            margin-bottom: 90px;
            padding-left: 30px;
        }
        @media (max-width: $xsmall) {
            margin-bottom: 40px;
            padding-left: 0;
        }

        .project-item {
            /*height: 405px;*/
            height: auto;

            .flickity-row {

                .item {
                    width: 430px;
                    @media (max-width: $large) {
                        width: 320px;
                    }
                    @media (max-width: $small) {
                        max-width: 320px;
                    }
                    @media (max-width: $xsmall) {
                        max-width: 200px;
                    }

                    &.headline {
                        padding-left: calc((100% - 80em) / 2);
                        @media (max-width: $small) {
                            padding-left: calc(20px + 2em);
                            padding-right: calc(20px + 2em);
                        }
                        @media (max-width: $xsmall) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }

                    .image {
                        width: 100%;
                        margin-bottom: 12px;
                        height: 300px;
                        overflow: hidden;
                        @media (max-width: $large) {
                            height: 220px;
                        }
                        @media (max-width: $small) {
                            height: 220px;
                        }
                        @media (max-width: $xsmall) {
                            height: 140px;
                        }

                        img {
                            display: block;
                            width: 100%;
                        }
                    }

                    &.project-headline {
                        @media (max-width: $large) {
                            width: 410px;
                        }
                        @media (max-width: $small) {
                            width: 20px;
                        }

                        a {
                            color: #000;
                        }
                    }

                    &.last {
                        width: calc((100% - 80em) / 2 + 2em);
                        margin-left: 0;
                        @media (max-width: $small) {
                            width: calc(20px + 2em);
                        }
                        @media (max-width: $xsmall) {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}


.b-projects {

    .flickity-row {

        .item {
            margin-left: 0;

            & + .item {
                margin-left: 15px;
                @media (max-width: $small) {
                    margin-left: 0;
                    margin-right: 15px;
                }
            }
        }
    }
}

.author-page {

    .project-item {

        .flickity-slider {

            .item {

                &.headline {
                    padding-left: calc((100% - 80em) / 2 + 2em);
                    // @media (max-width: $large) {
                    //     margin-left: calc((100% - 70em) / 2 + 2em);
                    // }
                    // @media (max-width: 1024px) {
                    //     margin-left: calc(5% + 2em);
                    // }
                    @media (max-width: $small) {
                        padding-left: calc(20px + 2em);
                        padding-right: calc(20px + 2em);
                    }
                    @media (max-width: $xsmall) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

