.b-project-title {
    text-align: center;
    display: block;
    line-height: normal;
    @media (min-width: $small) {
        display: none;
    }

    .title {
        font-size: 34px;
        font-family: 'geometriabold';
        text-transform: uppercase;
        @media (max-width: $xsmall) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .subtitle {
        font-family: 'geometriabold';
        font-size: 20px;
        margin-bottom: 10px;
        @media (max-width: $xsmall) {
            font-size: 15px;
            line-height: 26px;
            padding: 0 20px;
        }

        a {
            color: #000;
            text-transform: uppercase;
        }
    }

    .date-item {

        & + .date-item {
            margin-top: 30px;
            @media (max-width: $xsmall) {
                margin-top: 22px;
            }
        }
    }
}
