//breakpoints
// $xlarge: 1920px;
// $large: 1280px;
// $medium: 1024px;
// $small: 768px;
// $xsmall: 480px;

$xlarge: 1920px;
//$large: 2560px;
$large: 1920px;
$medium: 1024px;
$small: 1280px;
$xsmall: 768px;